/*
 * ============================
 * Just Add the Nessary Class
 * ============================
 */

 /*
  * ========================
  *        Paddings
  * ========================
  */

 /*-- No All Padding*/
 .no-padding{
     padding: 0;
 }
 /*-- No Box Padding ( Left, Right, Top, Bottom)--*/
 .no-left-padding{
     padding-left: 0;
 }
 .no-right-padding{
     padding-right: 0;
 }
 .no-top-padding{
     padding-top: 0;
 }
 .no-bottom-padding{
     padding-bottom: 0;
 }

 /*----Top Paddings 10px to 100px---*/
 .top-padding-10{
     padding-top: 10px;
 }
 .top-padding-20{
     padding-top: 20px;
 }
 .top-padding-30{
     padding-top: 30px;
 }
 .top-padding-40{
     padding-top: 40px;
 }
 .top-padding-50{
     padding-top: 50px;
 }
 .top-padding-60{
     padding-top: 60px;
 }
 .top-padding-70{
     padding-top: 70px;
 }
 .top-padding-80{
     padding-top: 80px;
 }
 .top-padding-90{
     padding-top: 90px;
 }
 .top-padding-100{
     padding-top: 100px;
 }

 /*----Bottom Paddings 10px to 100px---*/
 .bottom-padding-10{
     padding-bottom: 10px;
 }
 .bottom-padding-20{
     padding-bottom: 20px;
 }
 .bottom-padding-30{
     padding-bottom: 30px;
 }
 .bottom-padding-40{
     padding-bottom: 40px;
 }
 .bottom-padding-50{
     padding-bottom: 50px;
 }
 .bottom-padding-60{
     padding-bottom: 60px;
 }
 .bottom-padding-70{
     padding-bottom: 70px;
 }
 .bottom-padding-80{
     padding-bottom: 80px;
 }
 .bottom-padding-90{
     padding-bottom: 90px;
 }
 .bottom-padding-100{
     padding-bottom: 100px;
 }

 /*----Left Paddings 10px to 100px---*/
 .left-padding-10{
     padding-left: 10px;
 }
 .left-padding-20{
     padding-left: 20px;
 }
 .left-padding-30{
     padding-left: 30px;
 }
 .left-padding-40{
     padding-left: 40px;
 }
 .left-padding-50{
     padding-left: 50px;
 }
 .left-padding-60{
     padding-left: 60px;
 }
 .left-padding-70{
     padding-left: 70px;
 }
 .left-padding-80{
     padding-left: 80px;
 }
 .left-padding-90{
     padding-left: 90px;
 }
 .left-padding-100{
     padding-left: 100px;
 }

 /*----Right Paddings 10px to 100px---*/
 .right-padding-10{
     padding-right: 10px;
 }
 .right-padding-20{
     padding-right: 20px;
 }
 .right-padding-30{
     padding-right: 30px;
 }
 .right-padding-40{
     padding-right: 40px;
 }
 .right-padding-50{
     padding-right: 50px;
 }
 .right-padding-60{
     padding-right: 60px;
 }
 .right-padding-70{
     padding-right: 70px;
 }
 .right-padding-80{
     padding-right: 80px;
 }
 .right-padding-90{
     padding-right: 90px;
 }
 .right-padding-100{
     padding-right: 100px;
 }


 /*-- Up and Down Paddings with 30px*/
 .up-down-padding{
     padding-bottom: 30px;
     padding-top: 30px;
 }

/*
 * ========================
 *        Margins
 * ========================
 */

/*-- No All Margin*/
.no-margin{
    margin: 0;
}
/*-- No Box Margin ( Left, Right, Top, Bottom)--*/
.no-left-margin{
    margin-left: 0;
}
.no-right-margin{
    margin-right: 0;
}
.no-top-margin{
    margin-top: 0;
}
.no-bottom-margin{
    margin-bottom: 0;
}

/*----Top Margins 10px to 100px---*/
.top-margin-10{
    margin-top: 10px;
}
.top-margin-20{
    margin-top: 20px;
}
.top-margin-30{
    margin-top: 30px;
}
.top-margin-40{
    margin-top: 40px;
}
.top-margin-50{
    margin-top: 50px;
}
.top-margin-60{
    margin-top: 60px;
}
.top-margin-70{
    margin-top: 70px;
}
.top-margin-80{
    margin-top: 80px;
}
.top-margin-90{
    margin-top: 90px;
}
.top-margin-100{
    margin-top: 100px;
}

/*----Bottom Margins 10px to 100px---*/
.bottom-margin-10{
    margin-bottom: 10px;
}
.bottom-margin-20{
    margin-bottom: 20px;
}
.bottom-margin-30{
    margin-bottom: 30px;
}
.bottom-margin-40{
    margin-bottom: 40px;
}
.bottom-margin-50{
    margin-bottom: 50px;
}
.bottom-margin-60{
    margin-bottom: 60px;
}
.bottom-margin-70{
    margin-bottom: 70px;
}
.bottom-margin-80{
    margin-bottom: 80px;
}
.bottom-margin-90{
    margin-bottom: 90px;
}
.bottom-margin-100{
    margin-bottom: 100px;
}

/*----Left Margins 10px to 100px---*/
.left-margin-10{
    margin-left: 10px;
}
.left-margin-20{
    margin-left: 20px;
}
.left-margin-30{
    margin-left: 30px;
}
.left-margin-40{
    margin-left: 40px;
}
.left-margin-50{
    margin-left: 50px;
}
.left-margin-60{
    margin-left: 60px;
}
.left-margin-70{
    margin-left: 70px;
}
.left-margin-80{
    margin-left: 80px;
}
.left-margin-90{
    margin-left: 90px;
}
.left-margin-100{
    margin-left: 100px;
}

/*----Right Margins 10px to 100px---*/
.right-margin-10{
    margin-right: 10px;
}
.right-margin-20{
    margin-right: 20px;
}
.right-margin-30{
    margin-right: 30px;
}
.right-margin-40{
    margin-right: 40px;
}
.right-margin-50{
    margin-right: 50px;
}
.right-margin-60{
    margin-right: 60px;
}
.right-margin-70{
    margin-right: 70px;
}
.right-margin-80{
    margin-right: 80px;
}
.right-margin-90{
    margin-right: 90px;
}
.right-margin-100{
    margin-right: 100px;
}


/*-- Up and Down Margins with 30px*/
.up-down-margin{
    margin-bottom: 30px;
    margin-top: 30px;
}

/*
 * =====================================================
 *      Setting up the
 *     maximum Container width
 *    with: 640px, 960px, 1100px, 1200px, 1600px
 * =====================================================
 */
 .max-width-640{
     max-width: 960px;
     margin: 0 auto;
 }
 .max-width-960{
     max-width: 960px;
     margin: 0 auto;
 }
 .max-width-1100{
     max-width: 1100px;
     margin: 0 auto;
 }
 .max-width-1200{
     max-width: 1200px;
     margin: 0 auto;
 }
 .max-width-1600{
     max-width: 1600px;
     margin: 0 auto;
 }
